@using Microsoft.AspNetCore.Identity
@using PCBuilder.Data.Models;
@using PCBuilder.Services.Contracts;
@using PCBuilder.Web.Infrastructure.Extensions
@model PCBuildDetailsViewModel
@inject IGPUService gpuService
@inject ICPUService cpuService
@inject IComputerCaseService caseService
@inject IMotherBoardService mbService
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var gpu = await gpuService.GetGPUByIdAsync(Model.GpuId);
    var cpu = await cpuService.GetCPUByIdAsync(Model.CpuId);
    var cas = await caseService.GetCaseByIdAsync(Model.CaseId);
    var mb = await mbService.GetMBByIdAsync(Model.MotherboardId);

    var price = gpu.Price + cpu.Price + mb.Price + cas.Price;

    TimeSpan timeSpan = Model.CreatedOn.AddDays(10) - DateTime.Now;

    string testDate = Model.CreatedOn.AddDays(10).ToString("dd-MM-yyyy h:mm:ss tt");
    string timeText = timeSpan.ToString(@"dd\.hh\:mm\:ss");

}
@{
    ViewBag.Title = testDate;
}
<script>

    var dt = '@ViewBag.Title';
    var dateAr = dt.split('-')

    var newDate = dateAr[1] + '/' + dateAr[0] + '/' + dateAr[2]

    var end = new Date(dateAr[1] + '/' + dateAr[0] + '/'+dateAr[2]);


    var _sec = 1000;
    var _min = _sec * 60;
    var _hour = _min * 60;
    var _day = _hour * 24;
    var timer

    function showRemaining() {

        var now = new Date();
        var distance = end - now;

        var days = Math.floor(distance / _day);
        var _hours = Math.floor((distance % _day) / _hour);
        var _minutes = Math.floor((distance % _hour) / _min);
        var _secss = Math.floor((distance % _min) / _sec);


        document.getElementById('timercountdown1').innerHTML = 'Days: ' + days;
        document.getElementById('timercountdown2').innerHTML = 'Hours: ' + _hours + ' : ' + _minutes + ' : ' + _secss;
      


    };

    timer = setInterval(showRemaining, 100);

</script>


<div class="row">
    <div class="card w-100">
        <div class="card-body">
            <h3 class="card-title text-center">@Model.Name</h3>
            <hr>


            <div>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-body">
                                <img src="@Model.ImageUrl" style="width:350px" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-body">
                                <p>
                                    <span class="fw-bold">Total standalone cost: </span>$
                                    @price
                                </p>
                                <h3>Remainging time:</h3>
                                <hr />
                                <h4 id="timercountdown1">@timeText</h4>
                                <h4 id="timercountdown2"></h4>
                                
                                <h3><span class="fw-bold">Current highest bid: </span> <br /><b>$@Model.HighestBid</b></h3>
                                <hr />
                                <h5>*Increment is $100.</h5>

                                <hr />
                                @if (User.Identity!.IsAuthenticated)
                                {
                                    @if (Model.HighestBidderId == Guid.Parse(User.GetId()!))
                                    {
                                        <span>Congratulations! <br/>You currently hold the highest bid!</span><br/>
                                        <a class="btn btn-primary disabled" type="submit" asp-controller="PCBuild" asp-action="Bid" asp-route-id="@Model.Id">Bid Now!</a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-primary" type="submit" asp-controller="PCBuild" asp-action="Bid" asp-route-id="@Model.Id">Bid Now!</a>

                                    }
                                }
                                else
                                {
                                    <span>Please login if you would like to paricipate in the auction:</span>
                                    <a class="btn btn-primary text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
                                }
                            </div>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        @if (gpu != null)
                        {
                            <partial name="_GPUDetailsPartial" model="gpu" />
                        }
                        <partial name="_CPUDetailsPartial" model="cpu" />
                        <partial name="_ComputerCaseDetailsPartial" model="cas" />
                        <partial name="_MBDetailsPartial" model="mb" />
                    </div>
                </div>
            </div>

            <a asp-controller="Home" asp-action="Index" class="btn btn-info mb-2 w-100 p-3 fw-bold">Back to All</a>

        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    }
