@using PCBuilder.Services.Contracts;
@using PCBuilder.Web.Infrastructure.Extensions
@inject IBuilderService BuilderService
@{
    bool isUserBuilder = await BuilderService.BuilderAlreadyExcistsByUserId(User.GetId()!);

}

@model MBDetailsViewModel

<div class="card col-4" style="width: 19rem; ">
    <div class="card-body">
        <h3 class="card-title text-center">@Model.Name</h3>
        <hr>

        @if (Model.VendorId == 1)
        {
            <center><img src="https://www.logo.wine/a/logo/Ryzen/Ryzen-AMD-White-Dark-Background-Logo.wine.svg" style="width:100px" /></center>
        }
        else
        {
            <center><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7d/Intel_logo_%282006-2020%29.svg/1005px-Intel_logo_%282006-2020%29.svg.png" style="width:100px" /></center>
        }
        <hr>

        <img src="@Model.ImageUrl" style="width:150px" />
        <hr>
        <div style="padding:20px">


            <p class="mb-0"><span class="fw-bold">Maximum RAM capacity: </span>@Model.RamCapacity</p>


            <p class="mb-0"><span class="fw-bold">Socket: </span>@Model.SocketName</p>
            <p class="mb-0"><span class="fw-bold">Manufacturer: </span>@Model.VendorName</p>
               @if (isUserBuilder)
                        {
            <p class="mb-0"><span class="fw-bold">Standalone Price: </span>$@Model.Price</p>
                        }
        </div>
    </div>
       @if (isUserBuilder)
                        {
    <a asp-controller="MotherBoard" asp-action="Details" asp-route-id="@Model.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Details</a>
                        }
</div>
